@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
:root {
    --card-width: 200px;
    --card-height: 300px;
    --card-transition-duration: 800px;
    --card-transition-easing: ease;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.787);
    overflow: hidden;
}
button {
    border: none;
    background: none;
    cursor: pointer;
}
button:focus {
    outline: none;
    border: none;
}
.app {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-bg::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1;
    opacity: 0.8;
}
.app-bg-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translateX(var(--image-translate-offset, 0));
    width: 100%;
    height: 100%;
    transition: transform 1000ms ease, opacity 1000ms ease;
    overflow: hidden;
}
.app-bg-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.app-bg-image.current--image {
    opacity: 1;
    --image-translate-offset: 0;
}
.app-bg-image.previous--image {
    --image-translate-offset: -25%;
}
.app-bg-image.next--image {
    --image-translate-offset: 25%;
}
.card-list {
    position: absolute;
    width: calc(3 * var(--card-width));
    height: auto;
}
.card-list-btn {
    --btn-size: 35px;
    width: var(--btn-size);
    height: var(--btn-size);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}
.card-list-btn.btn--left {
    left: -5%;
}
.card-list-btn.btn--right {
    right: -5%;
}
.card-list-btn .icon {
    width: 100%;
    height: 100%;
}
.card-list-btn .icon svg {
    width: 100%;
    height: 100%;
}
.card-list .cards-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 1000px;
}
.card {
    --card-translateY-offset: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translateX(var(--card-translateX-offset)) translateY(var(--card-translateY-offset)) rotateY(var(--card-rotate-offset)) scale(var(--card-rotation-offset));
    display: inline-block;
    width: var(--card-width);
    height: var(--card-height);
    transition: transform var(--card-transition-duration) var(--card-transition-easing);
}
.card::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background #000;
    z-index: 1;
    transition: opacity var(--card-transition-duration) var(--card-transition-easing);
}
.card-image {
    position: ;
}